---
import "../styles/usuarios.css";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";

import { isLoggedIn } from "../utils/auth.js";

const token = Astro.cookies.get("token")?.value;
const [auth, data] = await isLoggedIn(token);

if (auth === false || data === null) return Astro.redirect("/login");

const res = await fetch(`https://localhost:3001/api/usuarios/${data.userId}`);
const [user] = await res.json();

const { rol_id, nombre_rol } = user;
if (rol_id !== 1 || nombre_rol !== "Administrador")
  return Astro.redirect("/login");

const dataUsers = await fetch("https://localhost:3001/api/usuarios");
const users = await dataUsers.json();
---

<Layout>
  <Header />
  <Container>
    <h2>Usuarios Registrados</h2>
    <ul id="usuarios-list">
      {
        users.length == 0 ? (
          <p>No hay usuarios registrados</p>
        ) : (
          users.map((user: any) => (
            <li>
              <div>
                <p>
                  <strong>Nombre:</strong> {user.nombre} {user.apellidos}
                </p>

                <p>
                  <strong>Correo:</strong> {user.correo}
                </p>

                <p>
                  <strong>Rol:</strong> {user.nombre_rol}
                </p>
              </div>

              <div class="btn-eliminar-container">
                <button data-user-id={user.id} class="btn-eliminar">
                  Eliminar
                </button>
              </div>
            </li>
          ))
        )
      }
    </ul>
  </Container>
</Layout>

<script>
  import Swal from "sweetalert2";
  // eliminar usuario
  const usuariosList = document.getElementById("usuarios-list");

  usuariosList?.addEventListener("click", async (e: any) => {
    if (e.target.classList.contains("btn-eliminar")) {
      Swal.fire({
        customClass: {
          confirmButton: "button-eliminar",
        },
        title: "¿Estás seguro de eliminar este usuario?",
        showCancelButton: true,
        confirmButtonText: "Si, eliminar",
        reverseButtons: true,
      }).then(async (result) => {
        if (!result.isConfirmed) return;

        const userId = e.target.getAttribute("data-user-id");
        const res = await fetch(
          `https://localhost:3001/api/usuarios/${userId}`,
          {
            method: "DELETE",
          }
        );

        if (res.status === 200) {
          const user = e.target.parentElement.parentElement;
          user.remove();

          Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Usuario eliminado correctamente",
            showConfirmButton: false,
            timer: 1500,
          });
        }
      });
    }
  });
</script>
